body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    background-image: url(/qr.png);
}
h1 {
    font-size: 60px;
}

.title {
    text-align: center;
    font-family: BoldTitle;
}
.body {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: BodyText;
}
.content {
    width: fit-content;
    background-color: #000;
    margin: auto;
    padding: 30px;
}

@font-face {
    font-family: BoldTitle;
    src: url(/Caskaydia\ Cove\ Nerd\ Font\ Complete\ Mono\ Windows\ Compatible\ Italic.otf);
}
@font-face {
    font-family: BodyText;
    src: url(/Caskaydia\ Cove\ Nerd\ Font\ Complete\ Windows\ Compatible\ Light.otf);
}
