body {
    color: #fff;
    font-family: BodyText;
    background-image: url(/qr.png);
    padding-bottom: 50px;
}
h1 {
    font-family: BoldTitle;
    margin: auto;
    font-size: 80px;
}
h2 {
    font-family: BoldTitle;
    font-size: 40px;
}
p {
    font-family: BodyText;
    font-size: 30px;
}
a {
    color: #FFC000;
}

.title {
    text-align: center;
}
.stats {
    background-color: #222;
    text-align: left;
    padding: 10px 30px 10px 30px;
    margin: 10px 5% 10px 5%;
    border-radius: 20px;
}
.body {
    margin-top: 50px;
    text-align: center;
}
.desc {
    text-align: left;
    padding: 20px;
}
.content {
    width: fit-content;
    background-color: #000;
    padding: 20px;
    margin: 50px 5% 0px 5%;
    border-radius: 30px;
    padding-bottom: 60px;
    box-shadow: 0 0 20px #111;
}
.art {
    margin: 60px 0px 60px 0px;
    overflow: auto;
}
.artentry {
    padding: 20px;
    float: right;
    overflow: auto;
}
.credit {
    color: #999;
    text-shadow: 0 0 2px #000;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 5px;
    float: right;
    writing-mode: vertical-rl;
    margin: 0 5px 0 5px;
}
.button {
    font-family: BodyText;
    font-size: 25px;
    background-color: #222;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}
.topnav {
    padding: 20px;
    text-align: center;
}
.topnav li {
    display: inline-block; 
}
.fadein {
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    position: relative;
}
.spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease;
    position: relative;
}
.para {
    text-align: left;
}
.disclaimer {
    padding: 50px 50px 0 50px;
    font-size: 20px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 2px rgb(79, 0, 0);
}
.intro {
    position: absolute;
    animation-name: intro;
    animation-duration: 1.5s;
    width: 50%;
    margin-left: 25%;
    opacity: 0%;
    border-radius: 40px;
    box-shadow: 0px 0px 50px #43260a;
    visibility: hidden;
    image-rendering: pixelated;
    filter: brightness(200%);
    z-index: 1;
}

@font-face {
    font-family: BoldTitle;
    src: url(/Caskaydia\ Cove\ Nerd\ Font\ Complete\ Mono\ Windows\ Compatible\ Italic.otf);
}
@font-face {
    font-family: BodyText;
    src: url(/Caskaydia\ Cove\ Nerd\ Font\ Complete\ Windows\ Compatible\ Light.otf);
}

@keyframes fadein {
    0%{opacity: 0; top: 20px;}
    100%{opacity: 100; top: 0px;}
}
@keyframes spin {
    0%{transform: rotate(453deg);}
    100%{transform: rotate(0deg);}
}
@keyframes intro {
    0%{transform: perspective(500px) rotateX(45deg) rotateY(45deg); opacity: 100%; visibility: visible;}
    50%{transform: perspective(500px) rotateX(0deg) rotateY(0deg); opacity: 100%; visibility: visible;}
    100%{opacity: 0%; visibility: hidden;}
}